/* variables */
:root{
    --main-color:#19c8fa;
    --o-color:#0f748fb3;
    --o-c-2:#10cbb8b3;
    --sec-color: #2c5855;
    --sectionpadding:60px;
}
/* global styles */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #10dfd7;
  }
  section{
    scroll-margin-top: 100px;
  }
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
}
.container{
    margin:0 auto;
    padding: 0 15px;
}
/* end global */
/* components */
.sp{
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: var(--main-color);
}
.main-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom:-30px ;
    width: 120px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    bottom: -39px;
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: var(--o-c-2);
}
/* end components */
/* start header */
.header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
.header img {
    height: 75px;
    transition: 0.8s;
    border-radius: 10px;
}
.header:hover img{
    transform: scale(1.25) rotate(1turn);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}
.header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
.header .navbar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .navbar .toggle-menu{
    color: white;
    font-size: 22px;
}
.header .navbar ul{
    display: flex;
}
.header .navbar ul li a{
    display: block;
    color: white;
    font-size: 1rem;
    transition: 0.4s;
    text-decoration: none;
    padding: 40px 10px;
    position: relative;
    z-index: 3;
}
.header .navbar ul li a.active,
.header .navbar ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.header .navbar .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
.header .navbar .form i{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-color:#1f2021 ;
    background-image: url(../images/land.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 20, 0.5) ;
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 40px;
    color: white;
    background-color:var(--o-color);
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 500px;
}
.landing .text .content h2{
    font-size: 2rem;
    font-weight: normal;
    line-height:1.5 ;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 14px;
    line-height: 1.8;
} 
.landing .change-bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    transition: 0.5s;
}
.landing .change-bg:hover{
    opacity: 0.7;
}
.landing .change-bg:active{
    transform: scale(0.8) translateY(-50%);
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    gap: 5px;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}
.landing .bullets li.active,
.landing .bullets li:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing  */
/* start services */
.services .srv-box{
     display: flex;
     box-shadow: 0 0 30px var(--o-color);
     padding: 15px;
     border-radius: 10px;
}
.services .srv-box i{
    margin-right: 50px;
    color: var(--sec-color);
}
.services .srv-box h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box p{
    line-height: 2;
    color: var(--o-c-2);
}
/* end services */
/* start design */
.design{
    height: 600px;
    position: relative;
    background-image: url(../images/design-bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 20, 0.5) ;
}
.design .image ,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
.design .image img{
    width: 340px;
    height: 460px;
    position: relative;
    bottom: -50px;
    border-radius: 25px;
    transition: 0.5s;
}
.design .image img:hover{
    box-shadow: 0 0 50px var(--o-color);
}
.design .text{
    color: white;
    padding: 50px ;
    background-color: var(--o-color);
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f390';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design  */
/*  start portfolio*/
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li.active ,
.portfolio .shuffle li:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.portfolio .imgs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}
.portfolio .imgs-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs-container .box:hover img{
    transform: rotate(5deg) scale(1.1);
    filter: opacity(100%);
}
.portfolio .imgs-container .box img{
    max-width: 100%;
    aspect-ratio: 7/4;
    height: 40vh;
    transition: 0.5s 10ms;
    filter: opacity(90%);
}
.portfolio .imgs-container .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    transition:0.5s ;
    bottom: -100%;
}
.portfolio .imgs-container .box .caption h4{
    font-weight: bold;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p{
    color: var(--main-color);
}
.portfolio .more{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    width:fit-content;
    display: block;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* end portfolio */
/* start video  */
.video{
    position: relative;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(5, 5, 20, 0.5);
}
.video video{
    width: 100%;
    aspect-ratio: 16/9;
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--o-color);
    color: white;
    text-align: center;
}
.video .text h2{
    margin: 0 0 30px;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}
.video .text button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.video .text button:active{
    transform: scale(0.9);
}
/* end video */
/* start about */
.about{
    padding-bottom: 0;
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    height: 80vh;
}
/* end about  */
/* start statistics */
.statistics{
    text-align: center;
    background-image: url(../images/stats.jpg);
    background-size: 100% 100%;
    position: relative;
}
.statistics::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(5, 5, 20, 0.7);
}
.statistics .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.statistics .container .box{
    color: white;
    padding: 50px;
    background-color:var(--o-color);
}
.statistics .container .box i{
    width: 40px;
    height: 50px;
    background-color: #1f2021;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 0 auto 25px;
    transition: 0.8s;
}
.statistics .container .box i:hover{
    color: var(--main-color);
    transform: rotateY(1turn) scale(1.5);
}
.statistics .container .box .numbers{
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.statistics .container .box p{
    font-size: 14px;
}
/* end statistics */
/*start our skills */
.our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-skills .container > aside > h3{
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
}
.our-skills .container > aside > p{
    color: var(--o-color);
    line-height: 2;
    margin-bottom: 60px;
    text-align: center;
}
.our-skills .testimonials .content{
     display: flex;
     margin-bottom: 30px;
     align-items: center;
} 
.our-skills .testimonials .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .testimonials .text{
    line-height: 1.8;
    border-bottom: 1px solid var(--sec-color);
}
.our-skills .testimonials .text p{
    color: var(--o-color);
    font-size: 16px;
    text-align: left;
}
.our-skills .testimonials .text p:last-child{
    text-align: right;
    color: var(--main-color);
    font-size: 14px ;
    margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 50px 0;
}
.our-skills .testimonials li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--sec-color);
    margin-right: 10px;
}
.our-skills .testimonials li.active,
.our-skills .testimonials li:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .skills .prog-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our-skills .skills .bar{
    margin-bottom: 25px;
}
.our-skills .skills .bar label{
    font-size: 18px;
    font-weight: bold;
    color: var(--sec-color);
}
.our-skills .skills .bar progress{
    width: 100%;
    margin-top: 10px;
    height:35px;
    border: 1px solid var(--main-color);
    position: relative;
    display: flex;
    align-items: center;
}
.our-skills .skills .bar progress::before{
    content:attr(value)"%" ;
    width: 100%;
    font-size: 18px;
    position: absolute;
    text-align: center;
    color: white;
}
.our-skills .skills .bar progress::after{
    content: attr(value ) "%";
    padding: 10px 20px 20px 20px;
    clip-path: polygon(100% 0, 100% 75%, 60% 75%, 50% 100%, 40% 75%, 0 75%, 0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2021;
    color: var(--main-color);
    position: absolute;
    top: calc(-145% - 2px);
    right: 0%;
    border: 1px solid var(--main-color);
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
}
.our-skills .skills .bar progress:hover::after{
    transform: scaleY(1);
}
.our-skills .skills .bar progress::-webkit-progress-bar{
    background-color: #1f2021;
}
.our-skills .skills .bar progress::-webkit-progress-value{
    background-color: var(--main-color);
}
/* end our skills */
/* start quote */
.quote{
    background-image: url(../images/quote.jpg);
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    color: white;
}
.quote::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 20, 0.5);
}
.quote .container{
    position: relative;
}
.quote .container q{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
.quote .container q::after{
    font-family: 'Font Awesome 6 Free';
    content: "\f10e";
    font-weight: bold;
    margin-left: 10px;
    
}
.quote .container q::before{
    font-family: 'Font Awesome 6 Free';
    content: "\f10d";
    font-weight: bold;
    margin-right: 10px;
}
.quote .container span{
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
}
/* end quote */
/* start pricing */
.pricing .plans{
    display: grid; 
    grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
    gap: 30px;
}
.pricing .plans .plan{
    box-shadow: 0 0 30px var(--o-color);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
}
.pricing .plans .plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--sec-color);
}
.pricing .plans .plan .head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
    color: var(--main-color);
}
.pricing .plans .plan .head span::before{
    content: "$";
    font-size: 25px;
    position: absolute;
    top: 25px;
    left: -20px;
    color: var(--sec-color);
}
.pricing .plans .plan .head span::after{
    content: "/mo";
    font-size: 20px;
    position: relative;
    right: -10px;
    color: var(--sec-color);
}
.pricing .plans .plan ul{
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    width: 150px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.pricing .plans .plan .foot a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: var(--main-color);
    transition: 0.4s;
}
.pricing .plans .plan .foot a:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing .plans .plan .foot a:active{
    transform: scale(0.8);
}
.pricing .contact-text{
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
    color: var(--main-color);
}
.pricing .contact-link{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    transition: 0.4s;
}
.pricing .contact-link:hover{
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid;
}
/* end pricing */
/*start subscribe */
 .subscribe{
    position: relative;
    background-size:cover ;
    background-image: url(../images/subscribe.jpg);
    background-attachment: fixed;
 }
 .subscribe::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 20, 0.5);
 }
 .subscribe .container{
    position: relative;
    color: white;
    display: flex;
    align-items: center;
 }
 .subscribe form{
    display: flex;
    position: relative;
    max-width: 100%;
    width: 500px;
 }
 .subscribe form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
 }
 .subscribe form input[type="email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: white;
 }
 .subscribe form input[type="submit"]{
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: none;
 }
 .subscribe form input[type="submit"]:hover{
    background-color: white;
    color: var(--main-color);
 }
 .subscribe form input:focus{
    outline: none;
 }
 .subscribe form ::placeholder{
    color: white;
 }
 .subscribe p{
    line-height: 2;
    margin-left: 50px;
 }
/* end subscribe */
/* start contact */
.contact .content{
    display: flex;
    justify-content: space-between;
}
.contact .content form{
    flex-basis: 70%;
}
.contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid var(--o-color);
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
}
.contact .content form .main-input:focus{
    outline: none;
    box-shadow: 0 0 10px var(--o-color);
}
.contact .content form textarea.main-input{
    height: 200px; 
    resize: vertical;
    max-width: 100%;

}
.contact .content form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}
.contact .content form input[type="submit"]:hover{
    background-color: white;
    color: var(--main-color);
    border: 1px solid;
}
.contact .content form input[type="submit"]:active{
    transform: scale(0.9);
}
.contact .content .info{
    flex-basis: 25%;
}
.contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    color: var(--main-color);
}
.contact .content .info .phone{
    display: block;
    color: var(--o-color);
    margin-bottom: 10px;
}
.contact .content .info .box:nth-of-type(2){
    margin-top: 90px;
}
.contact .content .info address{
    color: var(--o-color);
    line-height: 2;
}
/* end contact */
/* start footer */
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/footerjpeg.jpeg);
    background-size: 100% 100% ;
    position: relative;
    color: white;
    text-align: center;
}
footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 20, 0.5);
}
footer .container{
    position: relative;
}
footer img{
    height: 100px;
    aspect-ratio: 16/9;
    margin: 0 0 20px;
    transition: 1s;
}
footer:hover img{
    transform: scale(1.2) rotateY(1turn) skew(5deg);
}
footer p:not(.copyright){
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 24px;
    width: fit-content;
    margin: 20px auto;
}
footer .icons i{
    padding:3px 5px;
    border-radius: 25%;
    font-size: 40px;
    color: var(--sec-color);
    background-color: white;
    margin-left: 5px;
}
footer .icons i:hover{
    color: var(--main-color);
}
footer .copyright{
    margin-top: 75px;
}
footer .copyright span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */

/* media querey */
@media (width < 768px){
    .header .navbar ul{
        display: none;
    }
    .header .navbar .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0008;
    }
    .header .navbar .toggle-menu:hover + ul a{
        padding: 15px;
    }
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
    .landing .change-bg{
        display: none;
    }
    .services .srv-box{
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .design{
        height: fit-content;
        flex-direction: column-reverse;

    }
    .design .text{
        transform: scale(1) !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
    .portfolio .imgs-container .box img{
        aspect-ratio: 3/2;
        margin:  auto;
    }
    .about img{
        margin-top: -60px;
        bottom: -60px;
        height: 60vh;
        max-width: 80%;
    }
    .statistics .container .box{
        flex-basis: 100%;
        border-bottom:1px solid white ;
    }
    .statistics .container .box:last-child{
        border: none;
    }
    .our-skills .testimonials .content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 10px;
        } 
    .our-skills .testimonials .content img{
        margin: 0 auto;
    }
    .our-skills .testimonials .text p{
        text-align: center;
        font-size: 12px;
    }
    .our-skills .testimonials .text p:last-child{
        text-align-last: left;
        color: var(--main-color);
    }
    .pricing .plans .plan{
        margin: 0 auto ;
        min-width: 250px;
    }
}
@media (width < 991px) {
    .design .image img{
        width: 280px;
        height: 380px;
    }
    .design .text{
        transform: scale(0.8) translateY(20%);
    }
    .subscribe .container{
        flex-direction: column;
    }
    .subscribe p{
        margin-top: 30px;
        text-align: center;
        width: 80%;
    }
    .contact .content {
        flex-direction: column;
    }
    .contact .content .info{
        order: -1;
        margin-bottom: 40px;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .contact .content .info .box:nth-of-type(2){
        margin-top: 0;
    }
}
@media (width < 1200px) {

}
/* small */
@media  (min-width: 768px){
    .container{
        width: 750px;
    }
    .header .navbar .toggle-menu{
        display: none;
    }
    .services .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px ,1fr));
        gap: 60px 40px;
    }
    .portfolio .imgs-container .box{
        flex-basis: 50%;
    }
    .statistics .container .box{
        flex-basis: 50%;
    }
}
/* medium */
@media  (min-width: 992px){
    .container{
        width: 950px;
    }
    .portfolio .imgs-container .box{
        flex-basis: calc(100% / 3);
    }
    .statistics .container .box{
        flex-basis: 25%;
    }
    .our-skills .container > aside{
        flex-basis: 45%; ;
    }
    .subscribe p{
        width: 60%;
    }
}
/* large */
@media  (min-width: 1200px){
    .container{
        width: 1140px;
    }
    .portfolio .imgs-container .box{
        flex-basis: 25%;
    }
}

